<section class="slider_section long_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Welcome to <br>
                                    Our TDFood Service
                                </h1>
                                <p>
                                    Thực đơn TDFood đa dạng và phong phú, có rất nhiều sự lựa chọn cho bạn, gia đình và bạn bè.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                    <a href="" class="btn2">
                                        About Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img class="slider-img" src="~/Assets/images/1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Welcome to <br>
                                    Our TDFood Service
                                </h1>
                                <p>
                                    Thực đơn TDFood đa dạng và phong phú, có rất nhiều sự lựa chọn cho bạn, gia đình và bạn bè.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                    <a href="" class="btn2">
                                        About Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img class="slider-img" src="~/Assets/images/2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Welcome to <br>
                                    Our TDFood Service
                                </h1>
                                <p>
                                    Thực đơn TDFood đa dạng và phong phú, có rất nhiều sự lựa chọn cho bạn, gia đình và bạn bè.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                    <a href="" class="btn2">
                                        About Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img class="slider-img" src="~/Assets/images/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel" data-slide-to="1"></li>
            <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</section>
