@model IEnumerable<FASTFOOD.MONAN>

@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Slide")

<section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2 style=" margin-left: 40%;">
                    Best Seller
                </h2>

            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="~/Food/Details/8">
                            <img src="~/Content/Images/2-Fried-Chicken.jpg" />
                                </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Gà Giòn
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                     12000 VNĐ
                                </h6>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="Food/Details/35">
                            <img src="~/Content/Images/Rice-Teriyaki.jpg" />
                                </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cơm Gà Teriyaki
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                     42000 VNĐ
                                </h6>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="Food/Details/33">
                            <img src="~/Content/Images/BJ.jpg" />
                                </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Đùi Gà Quay
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                     67000 VNĐ
                                </h6>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="Food/Details/20">
                                <img src="~/Content/Images/Rice-Skewer.jpg" />
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                               Cơm Gà Xiên Que
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    42000 VNĐ
                                </h6>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="Food/Details/21">
                                <img src="~/Content/Images/Rice-Steak.jpg" />
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cơm Gà Bít-Tết
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    42000 VNĐ
                                </h6>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <a href="Food/Details/14">
                                <img src="~/Content/Images/Burger-Shrimp.jpg" />
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Burger Tôm
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    42000 VNĐ
                                </h6>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



